<%= form_for(@link, url: {action: :public_create}) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Link from pushto.com/<br/>
  <%= f.text_field :short_name %><br/>
  to<br/>
  <%= f.text_field :target_url %>
  <br/>
  <%= content_tag :button, type: :submit, class: 'btn btn-primary btn-lg' do %>
    Submit
  <% end %>
  <hr/>
<% end %>
