<p id="notice"><%= notice %></p>

<p>
  <strong>Target url:</strong>
  <%= @link.target_url %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @link.short_name %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
